@font-face {
    font-family: "FuturaPT";
    src:
            url('/fonts/FuturaPT-Book.eot') format("eot"),
            url('/fonts/FuturaPT-Book.woff') format("woff"),
            url('/fonts/FuturaPT-Book.ttf') format("truetype");
    font-weight: 400;
    font-style: normal;
}

/* Общие свойства документа */

body {
    font-family: FuturaPT, Arial, sans-serif;
    font-size: medium;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
/* Шапка (header) страницы */

body header nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
body header nav ul {
    font-size: large;
}
body header nav ul li a {
    font-size: 120%;
    text-decoration: none;
}
body header nav ul li a:hover {
    color: rgb(227, 32, 48);
    text-decoration: underline;
}
#fact_logo:hover {
    transform: scale(1.1);
    transition: all 1s;
}
#github_logo {
    float: left;
    margin-right: 5px;
}

/* Основная часть страницы*/

/* Секция о себе */

section#profile {
    display: grid;
    justify-items: center;
    grid-template-areas:    "photo name name"
                            "photo about feedback";
}
section#profile p {
    font-size: 115%;
    text-indent: 1em;
    text-align: justify;
    padding: 20px;
}
#my_photo {
    grid-area: photo;
}
#my_name {
    grid-area: name;
    font-size: 200%;
    align-self: end;
}
#about_me {
    grid-area: about;
}
#feedback {
    grid-area: feedback;
}

/* Общие свойства блоков картинок */

section.images_block {
    margin-top: 2em;
}
section.images_block h2 {
    text-align: center;
}
div#block_type1 figcaption, div#block_type2 figcaption {
    color: dimgray;
    font-size: 105%;
    text-align: center;
}

/* Блок картинок первого типа (flexbox) */

#block_type1 {
    display: flex;
    justify-content: space-evenly;
}

/* Блок картинок второго типа (grid) */

#block_type2 {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* Подвал страницы (footer) */

footer {
    text-align: center;
    color: rgb(227, 32, 48);
}