@font-face {
    font-family: "FuturaPT";
    src:
            url('/fonts/FuturaPT-Book.eot') format("eot"),
            url('/fonts/FuturaPT-Book.woff') format("woff"),
            url('/fonts/FuturaPT-Book.ttf') format("truetype");
    font-weight: 400;
    font-style: normal;
}
@keyframes shake {
    0% {
        transform: rotateZ(0deg);
    }
    10% {
        transform: rotateZ(-30deg);
    }
    20% {
        transform: rotateZ(15deg);
    }
    30% {
        transform: rotateZ(-10deg);
    }
    40% {
        transform: rotateZ(7.5deg);
    }
    50% {
        transform: rotateZ(-6deg);
    }
    60% {
        transform: rotateZ(5deg);
    }
    70% {
        transform: rotateZ(-4.28571deg);
    }
    80% {
        transform: rotateZ(3.75deg);
    }
    90% {
        transform: rotateZ(-3.33333deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}

/* Общие свойства документа */

body {
    font-family: FuturaPT, Arial, sans-serif;
    font-size: medium;
    width: 82%;
    margin-left: auto;
    margin-right: auto;
}
.text_with_image {
    display: flex;
}

/* Шапка (header) страницы */

body header nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
body header nav ul {
    font-size: large;
}
body header nav ul li a {
    font-size: 120%;
    text-decoration: none;
}
body header nav ul li a:hover {
    color: rgb(227, 32, 48);
    text-decoration: underline;
}
#fact_logo:hover {
    transform: scale(1.1);
    transition: all 1s;
}
#github_logo {
    margin-right: 5px;
}

/* Основная часть страницы*/

/* Секция о себе */

section#profile {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:    "photo name name"
                            "photo about feedback";
}
section#profile p {
    font-size: 115%;
    text-indent: 1em;
    text-align: justify;
    padding: 0 20px;
}
#profile_photo {
    grid-area: photo;
}
#my_name {
    grid-area: name;
    font-size: 200%;
    align-self: end;
}
#about_me {
    grid-area: about;
}
#feedback {
    grid-area: feedback;
}

/* Общие свойства блоков картинок */

section.images_block {
    margin-top: 2em;
}
section.images_block h2 {
    text-align: center;
}
div#block_type1 figcaption, div#block_type2 figcaption {
    color: dimgray;
    font-size: 105%;
    text-align: center;
}

/* Блок картинок первого типа (flexbox) */

#block_type1 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/* Блок картинок второго типа (grid) */

#block_type2 {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* Подвал страницы (footer) */

footer {
    text-align: center;
    color: rgb(227, 32, 48);
    margin-top: 1.5em;
}
#social_block {
    display: flex;
    justify-content: flex-end;
    column-gap: 1.5em;
    margin-right: 5%;
}
#social_block a:hover {
    animation: 1200ms ease 0s normal none 1 running shake;
}

/* Адаптивность */

@media print {
    body {
        width: 100%;
    }
    img {
        filter: grayscale(100%);
    }
    body header nav ul {
        padding-left: 0;
    }
    .no_print {
        display: none;
    }
    section#profile {
        display: block;
        text-align: center;
        page-break-after: always;
    }
    #block_type1 {
        page-break-after: always;
    }
    #social_block {
        display: none;
    }
    footer {
        color: black;
    }
}
@media screen and (min-width: 0px) and (max-width: 400px) {
    body {
        width: 100%;
        text-align: center;
   }
    body header nav ul {
        flex-direction: column;
        line-height: 2.5rem;
        padding-left: 0;
    }
    #fact_logo {
        width: 75%;
        height: 75%;
    }
    section#profile {
        display: block;
    }
    #my_photo {
        width: 55%;
        height: 55%;
    }
    section#profile h1 {
        font-size: 150%;
        margin-top: 0;
    }
    section#profile p {
        font-size: 100%;
        text-indent: 1em;
        text-align: justify;
        margin: 7px;
        padding: 7px;
    }
    .block_image {
        width: 70%;
    }
    #block_type1 {
        flex-wrap: wrap;
    }
    #block_type2 {
        display: flex;
        flex-direction: column;
    }
    #social_block {
        justify-content: space-evenly;
        margin-right: 0;
    }
}

@media screen and (min-width: 401px) and (max-width: 1024px) {
    body {
        width: 100%;
        text-align: center;
    }
    body header nav ul {
        padding-left: 0;
    }
    #fact_logo {
        width: 75%;
        height: 75%;
    }
    section#profile {
        display: block;
    }
    #my_photo {
        width: 40%;
        height: 40%;
    }
    section#profile h1 {
        font-size: 150%;
        margin-top: 0;
    }
    section#profile p {
        font-size: 120%;
        text-indent: 1em;
        text-align: justify;
        margin: 7px;
        padding: 7px;
    }
    #block_type1 {
        flex-wrap: wrap;
    }
    #block_type2 {
        display: flex;
        flex-direction: column;
    }
    #social_block {
        justify-content: space-evenly;
        margin-right: 0;
    }
}